{% extends "base.html" %}

<head>
    <title>{% block title %}Opening Page{% endblock title %}</title>
</head>

{% block blog-main %}
<div class="error_message">
	{% if error_message %}
		<ul>
		<li>{{error_message}}</li>
		</ul>
	{% endif %}
</div>



<div class="blog-post">
	<h2 class="blog-post-title">Welcome {{ site_user_extra_info.name }}'s Page</h2>	
	<div class="row featurette">
		<div class="col-md-4 col-md-offset-0">
		{% if site_user_extra_info.profile_image != None %}
		<img class="img-thumbnail img-responsive center-block" data-src="holder.js/200x200/auto" 
				src="{{ site_user_extra_info.profile_image.url }}" alt="Profile image">
		{% else %}
		<img class="img-thumbnail img-responsive center-block" data-src="holder.js/200x200/auto" 
				src="/media/photos/default/no_image.png" alt="Profile image">
		{% endif %}
			
        </div>
        <div class="col-md-8 col-md-offset-0">
        <h4 class="featurette-heading">
        	<span class="text-muted">
        	{% for sentence in opening_headding %}
        		{{ sentence }}<p>
        	{% endfor %}
        	</span>
        </h4>
	        <p>{{ opening_page_info.main_describe_1 }}</p>
	            <ul>
	              <li>Language: {{ opening_page_info.language }}</li>
	              <li>Framework: {{ opening_page_info.framework }}</li>
	              <li>Database: {{ opening_page_info.database }}</li>
	              <li>Cloud Server: {{ opening_page_info.cloud_server }}</li>
	              <li>UI Design: {{ opening_page_info.ui_design }}</li>
	            </ul>
	        <p>{{ opening_page_info.describe_1 }} <a href="{{ opening_page_info.github_address }}" target="_blank">{{ opening_page_info.github_address }}</a> {{ opening_page_info.describe_2 }}</p>
        </div>
    </div>
</div><!-- /.blog-post -->

{% endblock blog-main %}