{% extends "base.html" %}

<head>
    <title>{% block title %}About Me | NOT IMPORTANT {% endblock title %}</title>
</head>


{% block blog-main %}
<div class="error_message">
	{% if error_message %}
		<ul>
		<li>{{error_message}}</li>
		</ul>
	{% endif %}
</div>


<div class="blog-post">
	<h2 class="blog-post-title">{{ site_user_info.name }}'s Blog</h2>
	<img src="{{ site_user_extra_info.profile_image.url }}" alt="..." class="img-thumbnail">
	<p class="blog-post-meta">{{ site_user_info.created_at }} <a href="#">{{ site_user_info.name }}</a></p>
	
	
	<div class="comments">
		{% for comment in simple_comment_list %}
		<p>{{ comment.title }}</p>
		<p>{{ comment.comment }}</p>
		{% endfor %}
	</div>		
</div><!-- /.blog-post -->
{% endblock blog-main %}