{% extends "base.html" %}

<head>
    <title>{% block title %}Contact Me{% endblock title %}</title>
</head>


{% block page-information %}
<div class="jumbotron">
    <h1>{{ page_info.name }}</h1>
    <p>{{ page_info.description }}</p>
</div><!--/.jumbotron -->

<div class="error_message">
    {% if error_message %}
    <ul>
        <li>{{error_message}}</li>
    </ul>
    {% endif %}
</div>
{% endblock page-information %}

{% block blog-main %}
<div class="blog-post">
	<div class="col-md-15">
		<form action="" method="post">
			<h2 class="form-signin-heading">Please Send To me</h2>
			{% csrf_token %}
	    	{{ form.as_p }}
	    	<button class="btn btn-primary" type="submit">Send message</button>
		</form>
	</div><!--/.col-md-15-->
</div><!-- /.blog-post -->
{% endblock blog-main %}