{% extends "base.html" %}

<head>
    <title>{% block title %}History{% endblock title %}</title>
</head>


{% block blog-main %}



<div class="blog-post">
	<div class="jumbotron">
		<h1>{{ page_info.name }}</h1>
		<p>{{ page_info.description }}</p>
	</div><!--/.jumbotron -->
	
	<div class="error_message">
	{% if error_message %}
		<ul>
		<li>{{error_message}}</li>
		</ul>
	{% endif %}
	</div>
	
	<div class="col-md-15">
		{% for company in company_list %}
		<hr class="featurette-divider">
		<div class="row company">
			<div class="col-md-8">
				<h2 class="company-heading">
					{{ company.name }}
				</h2>
				<p>{{ company.started_date }} ~ {{ company.finished_date }}</p>
				<p><span class="text-muted">{{ company.simple_description }}</span><p>
				<p><a class="btn btn-primary" href="{% url 'career:company_detail' company.id %}" role="button">View Detail &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<a href="{% url 'career:company_detail' company.id %}" role="button"><img class="featurette-image img-responsive center-block"
					data-src="holder.js/500x500/auto"
					src="{{ company.company_image.url }}"
					alt="Generic placeholder image"></a>
			</div>
		</div><!-- /.row company -->
		{% empty %}
		<li>Sorry, no company in this list.</li>
		{% endfor %}
	</div><!--/.col-md-15-->
</div><!-- /.blog-post -->
{% endblock blog-main %}