{% extends "base_with_pageinfo.html" %}

<head>
<title>{% block title %}History{% endblock title %}</title>
</head>


{% block blog-main %}
<div class="error_message">
	{% if error_message %}
	<ul>
		<li>{{error_message}}</li>
	</ul>
	{% endif %}
</div>


<div class="blog-post">
	<div class="col-md-15">
		<!--/.jumbotron -->
		<hr class="featurette-divider">
		<div class="row company">
			<div class="col-md-8">
				<h2 class="company-heading">{{ company.name }}</h2>
				<p>{{ company.started_date }} ~ {{ company.finished_date }}</p>
				<span class="text-muted">{{ company.simple_description }}</span>
				<p>{{ company.description }}</p>
			</div>
			<div class="col-md-4">
				<img class="featurette-image img-responsive center-block"
					data-src="holder.js/500x500/auto"
					src="{{ company.company_image.url }}"
					alt="Generic placeholder image">
			</div>
		</div>
		<!-- /.row company -->

		<hr class="featurette-divider">
		<div class="row">
			{% for project in project_list %}
			<div class="col-md-4">
				<img class="img-circle" src="{{ company.company_image.url }}"
					alt="Generic placeholder image" width="140" height="140">
				<h3>{{ project.title }}</h3>
				<p>{{ project.simple_description }}</p>
				<p>{{ project.started_date }} ~ {{ project.finished_date }}</p>
				<p>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#myModal">View Detail &raquo;</button>
				</p>

				<!-- Modal -->
				<div class="modal fade bs-example-modal-lg" id="myModal"
					tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title">Introduce of {{ project.title }}</h4>
									{{ project.started_date }} ~ {{ project.finished_date }}
							</div>
							<div class="modal-body">
								<div class="row featurette">
									<div class="col-md-7 col-md-push-5">
										<h4 class="featurette-heading">{{ project.simple_description }}</h4>
										<p class="lead">
										<li>Language: {{ project.language }}</li>
										<li>System: {{ project.system }}</li>
										<li>Framework: {{ project.framework }}</li>
										<li>Architecture: {{ project.architecture_describe }}</li>
										</p>
									</div>
									<div class="col-md-5 col-md-pull-7">
										<img class="featurette-image img-responsive center-block"
											data-src="holder.js/500x500/auto"
											src="{{ project.architecture_image.url }}"
											alt="Generic placeholder image">
									</div>
								</div>
								</div> <!-- /.modal-body -->
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
				</div>
				<!-- /.col-lg-4 -->
				{% empty %}
				<li>Project list is empty</li> {% endfor %}
			</div>
			<!-- /.row -->
		</div>
		<!--/.col-md-15-->
	</div>
	<!-- /.blog-post -->
	{% endblock blog-main %}