{% extends "base.html" %}

<head>
    <title>{% block title %}History{% endblock title %}</title>
</head>


{% block blog-main %}
<div class="error_message">
	{% if error_message %}
		<ul>
		<li>{{error_message}}</li>
		</ul>
	{% endif %}
</div>


<div class="blog-post">
	<div class="col-md-15">
		<div class="jumbotron">
			<h1>Hello, world!</h1>
			<p>This is an example to show the potential of an offcanvas
				layout pattern in Bootstrap. Try some responsive-range viewport
				sizes to see it in action.</p>
		</div><!--/.jumbotron -->
		
	</div><!--/.col-md-15-->
</div><!-- /.blog-post -->
{% endblock blog-main %}}