{% extends "base.html" %}

<head>
    <title>{% block title %}Darly Page{% endblock title %}</title>
</head>

{% block blog-main %}

{% if error_message %}
	<ul>
	<li>{{error_message}}</li>
	</ul>
{% endif %}

{% if darly_photo_list %}
	<div class="jumbotron">
		<h1>{{ page_info.name }}</h1>
		<p>{{ page_info.description }}</p>
	</div><!--/.jumbotron -->

	{% for darly_photo in darly_photo_list %}
		<img src="{{ darly_photo.photo.url }}" alt="darly_photo" class="img-thumbnail">
	{% empty %}
		<li>Sorry, no Darly Photos in this list.</li></br>
	{% endfor %}
	</ul>
{% else %}
	<p>No players are available.</p>
{% endif %}

{% endblock blog-main %}