{% extends "base.html" %}

<head>
<title>{% block title %}My Skill {% endblock title %}</title>
</head>


{% block blog-main %}

<div class="jumbotron">
	<h1>{{ page_info.name }}</h1>
	<p>{{ page_info.description }}</p>
</div><!--/.jumbotron -->

<div class="error_message">
	{% if error_message %}
	<ul>
		<li>{{error_message}}</li>
	</ul>
	{% endif %}
</div>

<div class="blog-post">
	<div class="col-md-15">
		{% if development_skill_list %}
		<div class="col-md-10">
			<h3>Development Skill</h3>
			{% for skill in development_skill_list %}
			<div class="col-md-4">
				<h4>{{ skill.name }}</h4>
				<p>Kind: {{ skill.kind|title }}</p>
				<p>Level: {{ skill.level }} / 5</p>
				<p>{{ skill.describe }}</p>
			</div>
			{% endfor %}
		</div>
		{% endif %} 
		{% if cooperation_skill_list %}
		<div class="col-md-10">
			<h3>Cooperation Skill</h3>
			{% for skill in cooperation_skill_list %}
			<div class="col-md-4">
				<h4>{{ skill.name }}</h4>
				<p>Kind: {{ skill.kind|title }}</p>
				<p>Level: {{ skill.level }}</p>
				<p>{{ skill.describe }}</p>
			</div>
			{% endfor %}
		</div>
		{% endif %} 
		{% if os_skill_list %}
		<div class="col-md-10">
			<h3>OS Skill</h3>
			{% for skill in os_skill_list %}
			<div class="col-md-4">
				<h4>{{ skill.name }}</h4>
				<p>Kind: {{ skill.kind|title }}</p>
				<p>Level: {{ skill.level }}</p>
				<p>{{ skill.describe }}</p>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% if personality_skill_list %}
		<div class="col-md-10">
			<h3>Personality Skill</h3>
			{% for skill in personality_skill_list %}
			<div class="col-md-4">
				<h4>{{ skill.name }}</h4>
				<p>Kind: {{ skill.kind|title }}</p>
				<p>Level: {{ skill.level }}</p>
				<p>{{ skill.describe }}</p>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% if etc_skill_list %}
		<div class="col-md-10">
			<h3>ETC Skill</h3>
			{% for skill in etc_skill_list %}
			<div class="col-md-4">
				<h4>{{ skill.name }}</h4>
				<p>Kind: {{ skill.kind|title }}</p>
				<p>Level: {{ skill.level }}</p>
				<p>{{ skill.describe }}</p>
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</div><!--/.col-md-15-->
</div><!-- /.blog-post -->
{% endblock blog-main %}
