{% extends "base.html" %}

<head>
<title>{% block title %}Playing Base Page{% endblock title %}</title>
</head>


{% block page-information %}
<div class="jumbotron">
    <h1>{{ page_info.name }}</h1>
    <p>{{ page_info.description }}</p>
</div><!--/.jumbotron -->

<div class="error_message">
    {% if error_message %}
    <ul>
        <li>{{error_message}}</li>
    </ul>
    {% endif %}
</div>
{% endblock page-information %}

{% block sub-nav %}
<div class="nav-playing">
	<ul class="nav nav-pills">
		<li role=presentation class=active><a href="{% url 'playing:main' %}">Playing Home</a></li>
		{% for playing_menu in playing_menu_list %}
		<li role=presentation class=dropdown>
		  <a class=dropdown-toggle data-toggle=dropdown href=# 
		      role=button aria-haspopup=true
		      aria-expanded=false> {{ playing_menu }} <span class=caret></span></a>
		      <ul class=dropdown-menu>
		      {% if playing_menu == "darly" %}
		          {% url 'playing:darly:main' as darly_main_url %}
		          {% if darly_main_url %}
		              {% for menu in darly_menu_list %}
		                  {% if menu == 'main' %}
		                  <li><a href="{{ darly_main_url }}">{{ menu|title }}</a></li>
		                  {% else %}
		                  <li><a href="{{ darly_main_url }}{{ menu }}">{{ menu|title }}</a></li>
		                  {% endif %}
		              {% endfor %}
		          {% endif %}
		      {% elif playing_menu == "ourhockey" %}
		          {% url 'playing:ourhockey:main' as ourhockey_main_url %}
                  {% if ourhockey_main_url %}
                      {% for menu in ourhockey_menu_list %}
                          {% if menu == 'main' %}
                          <li><a href="{{ ourhockey_main_url }}">{{ menu|title }}</a></li>
                          {% else %}
                          <li><a href="{{ ourhockey_main_url }}{{ menu }}">{{ menu|title }}</a></li>
                          {% endif %}
                      {% endfor %}
                  {% endif %}
		      {% elif playing_menu == "playground" %}
		          {% url 'playing:playground:main' as playground_main_url %}
                  {% if playground_main_url %}
                      {% for menu in playground_menu_list %}
                          {% if menu == 'main' %}
                          <li><a href="{{ playground_main_url }}">{{ menu|title }}</a></li>
                          {% else %}
                          <li><a href="{{ playground_main_url }}{{ menu }}">{{ menu|title }}</a></li>
                          {% endif %}
                      {% endfor %}
                  {% endif %}
		      {% endif %}
			  </ul>
		</li>
		{% empty %}
		 <li>Nothing Playing Menu List</li>
		{% endfor %}
	</ul>
</div>
<!-- /.nav-playing -->
<hr class="featurette-divider">	
{% endblock sub-nav %}
